@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krub:wght@300;400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
h1 {
  font-family: "Kaushan Script", cursive;
}
$btn_bg: linear-gradient(251deg, #ff752d 0%, #ff274c 100%);
$btn_bg_hover: linear-gradient(251deg, #ff274c 0%, #ff752d 100%);
$btn_border: #ff2d49;
$ropa: "Ropa Sans", sans-serif;
$ralewayfont: "Raleway", sans-serif;
$sarabunfont: "Sarabun", sans-serif;
$poppinsfont: "Poppins", sans-serif;
$krubfont: "Krub", sans-serif;

@mixin flexprop($space) {
  display: flex;
  justify-content: $space;
  align-items: center;
}

::selection {
  background-color: rgba(33, 150, 243, 0.2);
}
